{% extends "base_admin.html" %}
{% block title %}Settings{% endblock %}
{% block page_title %}System Settings{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5><i class="fas fa-cog me-2"></i>Settings Test</h5>
            </div>
            <div class="card-body">
                <h3>Debug Info:</h3>
                <p>Admin: {{ admin }}</p>
                <p>Settings exists: {{ settings is defined }}</p>
                {% if settings is defined %}
                    <p>Site Name: {{ settings.site_name }}</p>
                    <p>Site URL: {{ settings.site_url }}</p>
                {% else %}
                    <p class="text-danger">Settings variable is not defined!</p>
                {% endif %}
                
                <h3 class="mt-4">System Info:</h3>
                {% if system_info is defined %}
                    <p>Python: {{ system_info.python_version }}</p>
                    <p>DB Size: {{ system_info.db_size }}</p>
                    <p>Articles: {{ system_info.total_articles }}</p>
                {% else %}
                    <p class="text-danger">System info is not defined!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
